.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage-container {
  background-image: url('https://res.cloudinary.com/dtblh1olg/image/upload/v1724248876/3d-render-concept-phone-receiver-3d-art-design-illustration_nb1rdc.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: grid;
  place-items: center;
}

.login-page {
  background-image: url('https://res.cloudinary.com/dtblh1olg/image/upload/v1724248876/3d-render-concept-phone-receiver-3d-art-design-illustration_nb1rdc.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: grid;
  place-items: center;
}

.contact-page {
  background-image: url('https://res.cloudinary.com/dtblh1olg/image/upload/v1724344969/2149139102_cxyvfn.jpg');
  height: 91vh;
  overflow: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.main-layout {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contacts {
  background-image: url('https://res.cloudinary.com/dtblh1olg/image/upload/v1724344968/6298_vpkz7z.jpg');
  height: 91vh;
  overflow: auto;
  width: 100%;
  background-size: cover;
  display: grid;
  place-items: center;
}


.view-contacts {
  background-image: url('https://res.cloudinary.com/dtblh1olg/image/upload/v1724344968/6298_vpkz7z.jpg');
  height: 91vh;
  overflow: auto;
  width: 100%;
  background-size: cover;
  display: grid;
  place-items: center;
}

